body {
  animation: clipIntro 1.4s cubic-bezier(1, -0.07, 1, 0.41);
  position: relative;
}

// Background gradient + ellipses
.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

  background: radial-gradient(
    circle at 55% 8%,
    var(--color-primary-light-2) 0%,
    var(--color-white) 66%
  );

  @media only screen and (max-width: $media-tiny) {
    background: radial-gradient(
      circle at 50% 0%,
      var(--color-primary-light-2) 0%,
      var(--color-white) 65%
    );
  }

  &__shape-top {
    width: 160rem;
    height: 160rem;
    position: absolute;
    top: -30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(
      to bottom right,
      var(--color-primary) 50%,
      var(--color-secondary)
    );
    border-radius: 100% 70% 100% 70%;
    box-shadow: 2rem 4rem 5rem -2rem rgba(var(--color-primary-dark), 0.3);
    z-index: 1;
    animation: shapeTopIntro 2.4s cubic-bezier(0.12, 0.84, 0.43, 0.99) backwards
      0.6s;

    @media only screen and (max-width: $media-medium) {
      transform: translate(-50%, -58%);
      animation: shapeTopIntroMediaQuery 1.6s
        cubic-bezier(0.12, 0.84, 0.43, 0.99) backwards 0.6s;
    }
  }

  &__shape-bottom {
    width: 160rem;
    height: 160rem;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(50%, 70%);
    background: linear-gradient(
      to bottom right,
      var(--color-secondary),
      var(--color-tertiary) 70%
    );
    border-radius: 100% 70% 100% 70%;
    z-index: 0;
    animation: shapeBottomIntro 2.8s cubic-bezier(0.12, 0.84, 0.43, 0.99)
      backwards;

    @media only screen and (max-width: $media-medium) {
      transform: translate(12%, 86%);
      animation: shapeBottomIntroMediaQuery 2s
        cubic-bezier(0.12, 0.84, 0.43, 0.99) backwards;
    }
    @media only screen and (max-width: 675px) {
      transform: translate(36%, 82%);
      animation: shapeBottomIntroMediaQuerySmall 2s
        cubic-bezier(0.12, 0.84, 0.43, 0.99) backwards;
    }
  }
}
/*
  Phone container section
  Builds the perspective area
*/
.page-container .section.main {
  display: flex;
  justify-content: space-around;
  margin-top: $margin-large;
  margin-bottom: $margin-large;
  z-index: 5;

  @media only screen and (max-width: $media-medium) {
    margin-bottom: $margin-small;
  }

  @media only screen and (max-width: $media-tiny) {
    margin: $margin-tiny 0;
  }
}

/*
  Section to configure the activated phone transforms

  Holds:
  - buttons
  - short description
*/

.config {
  max-width: 500px;
  text-align: center;

  &__btns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &-checkbox-container {
      margin-bottom: $margin-small;
      margin-left: $margin-tiny;
      margin-right: $margin-tiny;
    }
  }
  &__description {
    @media only screen and (max-width: $media-medium) {
      color: var(--color-white);
    }
    & .description__content {
      font-weight: 400;
      & strong {
        font-weight: 700;
      }
    }
  }
}

// Fallback for mobile devices
.demo__unavailable {
  margin: 4rem 0;
  padding: 4rem;
  background: white;
  border-radius: 8rem;
}
