/* 
  Intro animations
*/

// Intro phone rotation
@keyframes phoneIntro {
  0% {
    transform: rotateY(-335deg) rotateX(25deg);
  }
  100% {
    transform: rotateY(25deg) rotateX(25deg);
  }
}

// intro mask animation
@keyframes clipIntro {
  0% {
    clip-path: ellipse(200px 200px at 55% 42%);
  }

  25% {
    clip-path: ellipse(200px 200px at 55% 42%);
  }

  100% {
    clip-path: ellipse(3000px 3000px at 55% 42%);
  }
}

/*
  Intro background shape animations
  Different animations are used for different dimensions
*/

@keyframes shapeTopIntro {
  0% {
    transform: translate(-95%, -95%);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes shapeTopIntroMediaQuery {
  0% {
    transform: translate(-95%, -100%);
  }

  100% {
    transform: translate(-50%, -58%);
  }
}

@keyframes shapeBottomIntro {
  0% {
    transform: translate(90%, 110%);
  }

  100% {
    transform: translate(50%, 70%);
  }
}

@keyframes shapeBottomIntroMediaQuery {
  0% {
    transform: translate(90%, 110%);
  }

  100% {
    transform: translate(12%, 86%);
  }
}

@keyframes shapeBottomIntroMediaQuerySmall {
  0% {
    transform: translate(90%, 110%);
  }

  100% {
    transform: translate(36%, 82%);
  }
}

// mobile message slide in and color shift intro
@keyframes messageIntro {
  0% {
    background-color: var(--color-primary);
    transform: translateZ(4rem) translateX(-6rem);
  }

  100% {
    background-color: var($color-black);
    transform: translateZ(4rem) translateX(0);
  }
}

/*
  Repetitive animations
*/

// Subtle phone alternating movement
@keyframes phone {
  100% {
    transform: translateY(0.2rem);
  }
}

// Subtle mobile message alternating movement
@keyframes mobileMessage {
  0% {
    transform: translateZ(4rem) translateY(0);
  }
  100% {
    transform: translateZ(4rem) translateY(-3rem);
  }
}

// Subtle mobile message's shadow alternating movement
@keyframes mobileMessageShadow {
  0% {
    transform: scale(1) translateX(0) translateY(0);
    opacity: 1;
    box-shadow: -3rem 14rem 1.6rem -1rem rgba($color-shadow, 0.24);
  }
  100% {
    transform: scale(1.2) translateX(-1.6rem) translateY(-2rem);
    opacity: 0.6;
    box-shadow: -4rem 15rem 4rem -1rem rgba($color-shadow, 0.24);
  }
}

// Move letter up: Delays are assigned incrementally for every letter
@keyframes txt {
  100% {
    transform: translateY(-1.4rem);
  }
}

// Letter shadow animation
@keyframes txtShadow {
  0% {
    text-shadow: -3.2rem -5.6rem 0.3rem rgba($color-shadow, 0.7);
    transform: rotateY(45deg) rotateX(250deg);
  }
  100% {
    transform: rotateY(60deg) rotateX(220deg);
    text-shadow: -7rem -6rem 3.6rem rgba($color-shadow, 0.3);
  }
}
