/*
  Base styles
*/

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; // 1rem = 10px
  cursor: url('../img/icons/cursor-rotate.svg'), move;
  overflow: auto; // sets the reference for fixed elements to the viewport

  @media only screen and (max-width: $media-medium) {
    font-size: 56.25%; // 1 rem = 9px
  }

  @media only screen and (max-width: $media-tiny) {
    font-size: 50%; // 1 rem = 8px
  }
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

a:link,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  // prevent custom cursor by setting cursor back to default behavior
  cursor: auto;
}
